body {
  margin: 0;
  padding: 0;
}

nav {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

a {
  color: black;
  padding: 20px 10px;
}


h1 {
  display: inline;
  font-family: Georgia, serif;
  font-size: 40px;
  text-align: left;
  width: 630px;
}

h2 {
font-family: Georgia, serif;
font-size: 30px;
}

p, .newsbites {
  font-family: Georgia;
  font-size: 17px;
}

/* HEADER/NAV MENU */

.header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  border-bottom: solid 1px black;
  z-index: 1;
}

.logocontainer {

}

.navcontainer {

}


.logo {
  float: left;
  margin-right: 12px;
  margin-left: 20px;
  width: 70px;
  height: 60px;
}

.logotext {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  float: left;
}

/* LEFT COLUMN */

.leftcol {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
}

.leftcolstories {
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  justify-content: space-between;
}

.imagecontent {
  background-image: url(../images/img-story-main.png);
  width: 630px;
  position: relative;
  text-align: left;
}

.leftmainart {
margin-top: 100px;
}

.textonimage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.h2overimg {
  flex-direction: column;
  justify-content: center;
  height: 300px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}



.leftart {
  width: 300px;
}

.leftcolimg3 {
  background-image: url(../images/img-story-2.png);
  height: 300px;
  width: 300px;
  position: relative;
  text-align: left;
}

.leftcolimg4 {
  background-image: url(../images/img-story-3.png);
  height: 300px;
  width: 300px;
  position: relative;
  text-align: left;
}



/* RIGHT SIDEBAR */

.newsbites {
  text-align: center;
  font-weight: bold;
  text-align: center;
}

.bites {
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
}

white {
  color: white;
}
